body{
    margin: 0px;
    padding: 0px;
    background-color: #acacac;
}

a{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: -15px;
}

div.sobre{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3rem 5rem;
    padding: 1rem;
}

div.sobre #perfil{
  margin-left: 8rem;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 2px 5px #6e6b6b;
}

div.sobre h1{
    font-family: 'Sail', sans-serif;
    font-size: 3rem;
    text-align: start;
    color: #d89400;
    text-shadow: 0.1em 0.1em #6e6b6b;
}

div.sobre b{
    color: #2b2a2a;
}

div.sobre p{
    font-family:sans-serif;
    text-align:start;
    box-shadow: 2px 2px 5px #6e6b6b;
    padding: 15px;
    margin: 0px 30px 0px 0px;
}

.titulo{
    font-size: 35px;
}

label{
    color: #fff;
    font-size: 15px;
}

#btn-mobile{
    display: none;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    padding: 2rem;
    height: 100px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px #6e6b6b;
    background-color: #2b2a2a;
}

#logo{
    font-size: 2rem;
    font-weight: bold;
    color: #d89400;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
    margin-top: 5px;
}

#logo:hover{
    transition: .3s;
    font-size: 2.3rem;
}



#menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: #2b2a2a;
}

#menu a{
    color: #d89400;
    background-color: #000000;
    display: block;
    padding: .5rem;
    box-shadow: 5px 5px 0px 2px #6e6b6b;
    border: #fff solid 1px;
    transition: .5s;
}

#header #menu a:hover{
    transition: .5s;
    font-size: 15px;
    margin: 0 .1rem;
}

div.sobre #icones{
    display: flex;
    list-style: none;
}

div.sobre #icones a{
    transition: .5s;
    padding: 1rem;
}

div.sobre #icones a:hover{
    transition: .5s;
    padding: 2rem;
}

div.painel{
    color: #d89400;
    height: 90%;
    margin: 8rem 8rem;
    background-color: #000000; 
    box-shadow: 10px 10px 0px 3px #6e6b6b;
    text-align: center;
    padding: 2rem;
}

div.formacao{
    display: grid;
    grid-template-columns: 40% 60%;
}
div.formacao a{
   color: rgb(116, 116, 240);
   text-decoration: underline;
}

div.formacao p{
    text-align:left;
}

div.icones_habilidades{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

div.icones_habilidades div{
    margin: 15px 0;
}


div.projetos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px 0px;
    text-align:center;
}

div.projetos img{
    width: 80%;
}

div.projetos a{
    color: #fff;
    background-color: #d89400; 
    box-shadow: 5px 5px 0px 1px #6e6b6b;
    padding: 5px;
    transition: .3s;
}    

div.projetos a:hover{
 transition: .3s;
 font-size: 16px;
 margin-left: 5px;
 text-decoration: underline;
 color: rgb(0, 0, 243);
}

div.tutoriais{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 15px;
    text-align:center;
}



button{
    position: fixed;
    margin-top: 30%;
    transition: .5s; 
    margin-left: 95%;
    box-shadow: 2px 2px 0px 1px #6e6b6b;
 }
 
 button:hover{
    transition: .5s; 
    margin-top: 29%;
}

footer{
    color:#d89400;
    padding: 2rem;
    height: 200px;
    text-align: center;
    background-color: #2b2a2a; 
    box-shadow: 0px 0px 15px #6e6b6b;
}




















    @media (max-width:600px){
        #btn-mobile{
            display: block;
            font-size: 13px;
            padding: .3rem;
            background-color:  #152363;
            box-shadow: 3px 3px 0px 1px #ec0d0d;
            border: none;
            color: #fff;
        }
        #btn-mobile:hover{
            font-size: 15px;
            transition: .3s;
        }

        #menu{ 
           text-align: center; 
           display: block;
           position: absolute;
           width: 100%;
           top: 70px;
           right: 0px;
           background-color: #efefef;
           z-index: 1000;
           height: 0px;
           transition: .5s;
           visibility: hidden;
           overflow-y: hidden;
        }
        #nav.active #menu{
            height: calc(100vh - 70px);
            visibility: visible;
            overflow-y: none;
        }
        #menu a{
            margin: 1rem 1rem;
        }
        #menu a:hover{
            margin: .5rem .5rem;
            font-size: 18px;
            transition: .2s;
        }
    }



